[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
cryptography = "*"
cython = "*"
django = "*"
django-fernet-fields = "*"
django-filter = "*"
djangorestframework = "*"
factory-boy = "*"
mistune = "*"
psycopg2 = "*"
selenium = "*"
pillow = "*"
django-widget-tweaks = "*"
python-magic-bin = "*"
markdown = "*"
pymdown-extensions = "*"

[requires]
python_version = "3.7"
