{% extends 'base_paged_list.html' %}

{% block page_content %}

    <div data-target="votable.topic" data-item-id="{{ topic.id }}">
        <h2>{{ topic.title }}</h2>
        <p>
            <span class="d-block"><a href="#"><strong
                    class="text-gray-dark">{{ topic.author }} </strong></a>   {{ topic.how_long_ago }}
                {% if topic.modified %}(modified){% endif %}</span>

            {% include 'includes/votable/content.html' with item=topic %}
            <span class="d-block">{{ topic.post_count }} comments</span>
            {% if user.is_authenticated %}
                {% include 'includes/votable/auth_action_field.html' with item=topic item_class='topic' %}
            {% else %}
                {% include 'includes/votable/action_field.html' with item=topic %}
            {% endif %}
        </p>
    </div>

    {% if user.is_authenticated %}
        <form action="{% url 'post_create' %}" method="POST" data-controller="votable-creation votable-form-validation"
              data-item-class="post"
              class="form-votable" data-validate=""
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {% include "includes/form_field.html" with field=form.content %}
            {% include "includes/form_field.html" with field=form.files label='true' %}
            <button type="submit" class="btn btn-primary" disabled>
                Post
            </button>
            <button class="btn btn-info">
                Preview
            </button>
        </form>
    {% endif %}


    <div class="comments">
        {% for post in posts %}
            <div class="uc-wrapper" id="{{ post.pseudoid }}">
            <span class="d-block meta-time"><a class="author" href="#"
                                               data-turbolinks="false">{{ post.author }}</a>  {{ post.how_long_ago }}
                {% if post.modified %}
                    (modified){% endif %}</span>
                {% include 'includes/votable/content.html' with item=post %}
                {% if user.is_authenticated %}
                    {% include 'includes/votable/auth_action_field.html' with item=post item_class='post' %}
                {% else %}
                    {% include 'includes/votable/action_field.html' with item=post %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock page_content %}