{% extends 'base_paged_list.html' %}

{% block page_content %}

    <div>
        <h2>{{ topic.title }}</h2>
        <p>
            <a href="#"><strong class="d-block text-gray-dark">{{ topic.author }} {{ topic.how_long_ago }}
                {% if topic.modified %}(modified){% endif %}</strong></a>
            {{ topic.content }}
            <span class="d-block"><span class="text-info">+{{ topic.likes }}</span> <span
                    class="text-danger">-{{ topic.shares }}</span> </span>
        </p>
    </div>

    {% for post in posts %}
        <p>
            <a href="#"><strong class="d-block text-gray-dark">{{ post.author }} {{ post.how_long_ago }}
                {% if post.modified %}(modified){% endif %}</strong></a>
            {{ post.content }}
            {% if user.is_authenticated %}
                <span class="d-block"><span class="text-info" data-action="click->post#up_vote"
                                            data-controller="post"
                                            data-post="{{ post.id }}">Like{{ post.likes }}</span> <a
                        href="{% url 'post_vote' %}" class="text-danger"
                        data-post="{{ post.id }}">Share{{ post.shares }}</a>
            </span>
            {% else %}
                <span class="d-block"><span class="text-info">Likes{{ post.likes }}</span><span
                        class="text-danger">Shares{{ post.shares }}</span>
            </span>
            {% endif %}
        </p>
    {% endfor %}

{% endblock page_content %}