{% extends 'base_paged_list.html' %}

{% block page_content %}

    <div>
        <h2>{{ topic.title }}</h2>
        <p>
            <span class="d-block"><a href="#"><strong
                    class="text-gray-dark">{{ topic.author }} </strong></a>   {{ topic.how_long_ago }}
                {% if topic.modified %}(modified){% endif %}</span>
            {{ topic.content }}
            {{ topic.post_count }}
            {% if user.is_authenticated %}
                <span class="d-block">
                    <span class="text-info"
                          data-action="click->post#like" data-controller="post"
                          data-item-class="topic"
                          data-item-votes="{{ topic.likes }}"
                          data-item-checked="{% if topic.is_liked %}1{% else %}0{% endif %}"
                          data-item="{{ topic.id }}">Like{% if topic.is_liked %}d{% endif %}({{ topic.likes }})
                    </span>
                    <span class="text-danger"
                          data-action="click->post#share" data-controller="post"
                          data-item-class="topic"
                          data-item-votes="{{ topic.shares }}"
                          data-item-checked="{% if topic.is_shared %}1{% else %}0{% endif %}"
                          data-item="{{ topic.id }}">Share{% if topic.is_shared %}d{% endif %}({{ topic.shares }})
                    </span>
                </span>
            {% else %}
                <span class="d-block"><span class="text-info">Likes({{ topic.likes }})</span> <span
                        class="text-danger">Shares({{ topic.shares }})</span>
            </span>
            {% endif %}
        </p>
    </div>

    <form action="{% url 'post_create' %}" method="POST" data-controller="post-creator">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            Post
        </button>
    </form>

    {% for post in posts %}
        <p>
            <span class="d-block"><a href="#"><strong
                    class="text-gray-dark">{{ post.author }}</strong></a>  {{ post.how_long_ago }}{% if post.modified %}
                (modified){% endif %}</span>
            {{ post.content }}
            {% if user.is_authenticated %}
                <span class="d-block">
                    <span class="text-info"
                          data-action="click->post#like" data-controller="post"
                          data-item-class="post"
                          data-item-votes="{{ post.likes }}"
                          data-item-checked="{% if post.is_liked %}1{% else %}0{% endif %}"
                          data-item="{{ post.id }}">Like{% if post.is_liked %}d{% endif %}({{ post.likes }})
                    </span>
                    <span class="text-danger"
                          data-action="click->post#share" data-controller="post"
                          data-item-class="post"
                          data-item-votes="{{ post.shares }}"
                          data-item-checked="{% if post.is_shared %}1{% else %}0{% endif %}"
                          data-item="{{ post.id }}">Share{% if post.is_shared %}d{% endif %}({{ post.shares }})
                    </span>
                </span>
            {% else %}
                <span class="d-block"><span class="text-info">Likes({{ post.likes }})</span> <span
                        class="text-danger">Shares({{ post.shares }})</span>
            </span>
            {% endif %}
        </p>
    {% endfor %}

{% endblock page_content %}