{% extends 'base.html' %}

{% block content %}
    <h2>New Topic</h2>
    <form action="{% url 'topic_create' %}" method="POST" data-controller="post-creator"
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% include "includes/form_field.html" with field=form.board %}
        {% include "includes/form_field.html" with field=form.title %}
        {% include "includes/form_field.html" with field=form.content %}
        {% include "includes/form_field.html" with field=form.files %}
        <button type="submit" class="btn btn-primary">
            Create
        </button>
    </form>
{% endblock %}