{% extends 'base.html' %}

{% block content %}
    <br>
    <h2>New Topic</h2>
    <br>
    <form class="form-votable"
          action="{% url 'topic_create' %}" method="POST" data-controller="votable-creation votable-form-validation"
          data-item-class="topic"
          data-validate=""
          enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% include "includes/form_field.html" with field=form.board %}
        {% include "includes/form_field.html" with field=form.title %}
        {% include "includes/form_field.html" with field=form.content %}
        {% include "includes/form_field.html" with field=form.files label='true' %}
        {% include "includes/form_field.html" with field=form.follow_topic label='true' %}
        <button type="submit" class="btn btn-primary" disabled>
            Create
        </button>
    </form>
{% endblock %}